.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0009;
  z-index: 19;
}
.modal-content {
  width: 70%;

  position: fixed;
  border-radius: 40px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  background: #fff;
  padding: 10px;

  z-index: 21;
  animation: model 0.5s forwards;
}
@keyframes model {
  to {
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
